.barDeSus {
  color: #d5d5d5;
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  align-items: center;
  max-width: 1234px;
  margin-left: auto;
  margin-right: auto;
}
.barDeSus3 {
  background-color: #3a3a3a;
}
.mid-text {
  display: flex;
  background-color: #3a3a3a;
}
.barDeSus2 {
  display: flex;
  align-items: center;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
  max-width: 1234px;
  margin-left: auto;
  margin-right: auto;
}
.navBar2 {
  background-color: rgba(7, 8, 6, 0.82);
}
.douaColoane {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  padding-bottom: 30px;
}
.navButtons1 {
  border: solid 1px;
  border-radius: 4px;
  background-color: transparent;
  color: #ccc;
  min-height: 35px;
}
.navButtons2 {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #ef7d04;
  color: #f0f0f0;
}
.navButtons1:hover {
  border-color: #ef7d04;
  color: #ef7d04;
  transition: 0.5s;
  background-color: gba(0, 0, 0, 0.705);
}
.navButtons2:hover {
  border-color: #ef7d04;
  color: #ef7d04;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.705);
}
.navButtons2:focus {
  outline: none;
}
.navButtons1:focus {
  outline: none;
}
.colorOrg {
  color: #ef7d04;
}

.body {
  font-family: open-sans, open-sans-IE, sans-serif;
  display: flex;
}
.changeColor {
  padding-top: 30px;
  font-weight: 560;
  text-decoration: none;
  color: white;
}
.delete-link-dom-decor {
  text-decoration: none;
  color: #8a8a8a;
}
.delete-link-dom-decor:hover {
  text-decoration: none;
  color: #8a8a8a;
}

.delete-link-dom-decor-cars-page {
  text-decoration: none;
  color: black;
  border: solid 1px #dedede;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.delete-link-dom-decor-cars-page:hover {
  text-decoration: none;
  color: #ef7d04;
  transition: 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.changeColor:hover {
  color: #ef7d04;
  transition: 0.5s;
}
.pavel_icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: "Mukta", sans-serif;
}
.e {
  position: relative;
  left: -2px;
  display: flex;
  transform: skew(10deg);
  flex-direction: row;
}
.o {
  position: relative;
  left: -10px;
  top: -6px;
  display: flex;
  transform: skew(10deg);
  flex-direction: row;
  font-size: 25px;
  transform: rotate(70deg);
}
.div_invisible {
  width: 15px;
  height: 6px;
  background-color: #262626;
  position: relative;
  top: 8px;
  left: -30px;
}

.hire-div-information-home-page {
  display: grid;
  grid-template-columns: 212px 212px;
  grid-template-rows: 50px 50px 50px;
  row-gap: 10px;
  column-gap: 25px;
  background-color: rgba(7, 8, 6, 0.82);
  padding: 45px 25px;
}
.grid-row {
  display: grid;
  grid-template-columns: 105px 105px;
  grid-template-rows: 50px 50px;
  row-gap: 10px;
  column-gap: 3px;
}
.linkBtn {
  text-decoration: none;
  color: #f0f0f0;
}
.autoButton {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #ef7d04;
  color: #f0f0f0;
  height: 50px;
}
.autoButton:hover {
  border-color: #ef7d04;
  color: #ef7d04;
  transition: 0.5s;
  background-color: transparent;
}
.autoButton:focus {
  outline: none;
  text-decoration: none;
}
.backOrg {
  background-color: rgba(239, 125, 4, 0.75);
  color: #f0f0f0;
  padding-left: 20px;
  padding-top: 10px;
}
.hire-board-div-home-page {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 500px;
  position: absolute;
  left: 339px;
  top: 290px;
}
.smaller-text-p-home-page {
  font-size: 13px;
  margin-top: -10px;
  padding-top: 5px;
  padding-bottom: 25px;
}
.eliminate-decor-select-location {
  color: #f0f0f0;
  -webkit-appearance: none;
  background-color: rgba(31, 31, 31, 0.88);
  border: 1px solid #434343;
  font-size: 18px;
  border-radius: 5px;
}
.eliminate-decor-select-location:focus {
  outline: none;
}
.deleFocus {
  color: #d4d4d4;
  background-color: rgba(31, 31, 31, 0.88);
  border: 1px solid #434343;
  font-size: 18px;
  border-radius: 5px;
  -webkit-appearance: none;
  margin: 0;
}
.deleFocus:focus {
  outline: none;
  -webkit-appearance: none;
  margin: 0;
}
.del-decor-select-language-nav-bar {
  background-color: #3a3a3a;
  color: #d5d5d5;
  -webkit-appearance: none;
  transition: 0.5s;
  border: none;
}
.del-decor-select-language-nav-bar:focus {
  outline: none;
}
.dispNone {
  display: none;
}
.toggleNavBar {
  display: none;
}
.delDecor2 {
  background-color: #3a3a3a;
  color: #d5d5d5;
  -webkit-appearance: none;
  transition: 0.5s;
  display: none;
  border: transparent;
  background: transparent;
  width: 40px;
}
.delDecor2:focus {
  outline: none;
}
.div-width-link-from-pages {
  display: flex;
  justify-content: space-between;
  flex-basis: 600px;
}
.maiMic {
  font-size: 12px;
  color: #d5d5d5;
}
.cars {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-template-rows: 50% 50%;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}
.width-img {
  max-width: 450px;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}
.decorCar {
  border: solid 1px #dedede;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}
.decorCar:hover {
  color: #ef7d04;
  transition: 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mid-text-classes {
  display: flex;
  align-self: center;
}
.backgroundCar {
  background-color: #dedede91;
  width: 100%;
}
.width-page-car {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.autoMargin {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
}
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}
.information1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}
.footer {
  background-color: #262626;
  color: #8a8a8a;
  position: relative;
  top: 0;
}
hr {
  background-color: #8a8a8a;
  margin: 0px 0px;
}
.color-text {
  min-height: 110px;
  color: #cfcfcf;
}
.margin-bottom {
  padding-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 37px;
  display: flex;
  justify-content: space-between;
}
.disp-none {
  display: none;
}
.bolt-text {
  font-weight: 900;
  font-size: 22px;
}
.bigger {
  font-size: 22px;
}
.bigger-icon {
  font-size: 30px;
}
.cars-icon-button {
  width: 50px;
  height: 50px;
  background-color: white;
  border: solid 0.5px;
  border-radius: 12px;
}
.cars-icon-button:hover {
  position: relative;
  right: 1px;
  bottom: 2px;
}
.center-p-information {
  text-align: center;
  color: rgb(236, 57, 57);
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cars-buttons-grid {
  position: fixed;
  top: 32%;
  right: 0;
  z-index: 201;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 3px;
}
.media {
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  flex-basis: 95px;
}
.icons {
  display: flex;
  flex-basis: 92px;
  justify-content: space-between;
}
.bigger1 {
  font-size: 37px;
}
.margin-h2-top {
  padding-top: 20px;
  margin-top: 0px;
}
.color-insta {
  background: -webkit-linear-gradient(#833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-twitter {
  color: #00abeeb4;
}
.color-facebook {
  color: #3b5998;
}
.color-tiktok {
  color: black;
}
.color-mastercard {
  color: rgba(255, 255, 255, 0.685);
}
.color-visa {
  color: rgba(255, 255, 255, 0.685);
}
.infoBeforeCars {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.color-change-silver {
  color: rgb(90, 86, 86);
  font-size: 19px;
  margin: 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Zilla Slab", serif;
}
.img-background {
  width: 100%;
  height: auto;
}
.b {
  display: flex;
}
.nav-bar-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #d5d5d5;
  display: none;
  border: none;
}
.bigger-button {
  font-size: 19px;
  border-radius: 50%;
}
.bigger-button:hover {
  background-color: rgba(192, 192, 192, 0.445);
  transition: 0.7s;
}
.grid-map-cars {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto auto;
  row-gap: 50px;
  column-gap: 50px;
  justify-content: center;
}
.car-image {
  max-width: 298px;
}
.cars-in-map {
  max-width: 300px;
  display: flex;
  flex-direction: column;

  align-content: center;
}
.width-img-car-map {
  width: 300px;
  height: auto;
}
.minus-margin {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 63px;
}
.link-hire-button-two-nav-bar {
  text-decoration: none;
  color: white;
}
.log-out-change-color {
  text-decoration: none;
  color: #d5d5d5;
}
.inchiriere-rezervare {
  display: grid;
  grid-template-columns: 212px 212px;
  grid-template-rows: 50px 50px 50px;
  row-gap: 10px;
  column-gap: 25px;
  background-color: transparent;
  padding: 45px 25px;
  max-width: 500px;
}
.rezervare-big-div {
  background-color: silver;
}
form {
  display: flex;
  flex-direction: column;
}
.div-log-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input-log-in {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 200px;
  max-height: 40px;
  font-size: 16px;
  max-width: 100%;
  padding: 14px;
  margin: 6px 0;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #fff;
  box-sizing: border-box;
}
.autoImage {
  flex-direction: column;
  display: flex;
}
.autoMargin {
  padding-left: auto;
  padding-right: auto;
}
.bigger-image {
  width: 38px;
  height: auto;
}
.bigger-image-seat {
  width: 40px;
  height: auto;
}
.img-car-fin-reservation {
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.align-center-log-in {
  max-width: 478px;
  height: auto;
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 48px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.cursor-span:hover {
  cursor: pointer;
}
.smallerIconEye {
  font-size: 15px;
  margin-right: 4px;
}
.flex-information-log-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.eliminate-margin-p-tag1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.eliminate-margin-p-tag {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 500;
}
.link-design {
  font-weight: 500;
  padding-left: 5px;
}
.link-design:hover {
  color: #ef7d04;
  transition: 0.1s;
}
.design-button-log-in {
  width: 100%;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: #ef7d04;
  color: #f0f0f0;
  margin-top: 25px;
  margin-bottom: 20px;
}
.design-button-log-in:hover {
  border-color: hsl(31, 82%, 44%);
  color: white;
  transition: 0.3s;
  background-color: hsl(31, 82%, 44%);
}

.margin-bigger-log-in {
  margin-block-end: 2em;
}
.font-weight-p {
  font-weight: 500;
}
.mid-toggle-hide {
  align-self: center;
  display: flex;
}
.grid-ul-description-password {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 0px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 25px;
}
.text-decoration-silver {
  text-decoration: line-through;
  color: rgb(156, 155, 155);
}
.text-decoration-orange {
  transition: 2s;
  color: #ef7d04;
}
.text-decoration-orange span {
  color: black;
}
.center-log-in-sign-up {
  position: fixed;
  background-color: rgba(7, 8, 6, 0.82);
  width: 100%;
  height: 100%;
}
.center-log-in-sign-up1 {
  margin: auto auto auto auto;
}
.SuccessfulLogIn {
  display: none;
}
.footerSuccessfulLogIn {
  background-color: #262626;
  color: #8a8a8a;

  top: 0;
}
.user-icon-bigger {
  font-size: 30px;
  padding-left: 37px;
  padding-top: 2.5px;
  color: white;
}
.inline-icon-user {
  position: relative;
  top: 6px;
}
.user-icon-bigger:hover {
  color: #ef7d04;
  transition: 0.5s;
  cursor: pointer;
}
.alreadyHaveToken {
  display: none;
}
.margin-bottom-span-nav-bar {
  margin-bottom: 17px;
}
input.MuiInputBase-input.MuiInput-input {
  color: white;
}
label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink {
  color: silver;
}
.back-ground-gradient-reservation {
  background: linear-gradient(to right, #f2994a, #f2c94c);
  height: 700px;
}
.container-final-reservation {
  border-radius: 9px;
  max-width: 770px;
  background-color: white;
  text-align: center;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.h3-without-top-margin {
  margin-top: 0px;
  padding-top: 15px;
}
.button-final-reservation-done-hire {
  margin-bottom: 20px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: #ef7d04;
  color: #f0f0f0;
  width: 170px;
  height: 40px;
  transition: all 0.3s ease-out;
  font-size: 16px;
  cursor: pointer;
}
.button-final-reservation-done-hire:hover {
  border-color: hsl(31, 82%, 44%);
  color: white;
  transition: all 0.3s ease-out;
  background-color: hsl(31, 82%, 44%);
  width: 300px;
}
.font-size-icon-check {
  font-size: 70px;
}
.without-margin-bottom-reservation {
  margin-bottom: 0px;
}
.without-margin-top-reservation {
  margin-top: 0px;
}
.disappear-div-final-reservation {
  display: none;
}
@media (max-width: 1500px) {
  .MuiInputBase-input:disabled {
    color: #d5d5d5;
  }
  .hire-board-div-home-page {
    top: 148px;
    left: 35%;
  }
}
@media (max-width: 1369px) {
  .grid-map-cars {
    grid-template-columns: 300px 300px 300px;
  }
}
@media (max-width: 1090px) {
  .grid-map-cars {
    grid-template-columns: 300px 300px;
  }
}

@media (max-width: 1000px) {
  .cars-buttons-grid {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 55px 55px 55px 55px;
    justify-content: center;
    margin-top: 10px;
  }
  .toggleNavBar {
    background-color: rgba(7, 8, 6, 0.82);
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  .log-out-design {
    position: fixed;
    right: 0;
    margin-top: 17px;
  }
  .hire-board-div-home-page {
    position: initial;
    max-width: 100%;
  }
  .hire-div-information-home-page {
    grid-template-columns: auto auto;
  }
  .body {
    flex-direction: column;
  }
  .grid-row {
    grid-template-columns: auto auto;
  }
  .barDeSus2 {
    display: none;
  }
  .div-width-link-from-pages {
    display: none;
  }
  .douaColoane {
    display: none;
  }
  .nav-bar-button {
    display: initial;
  }
  .delDecor2 {
    display: initial;
  }
  .baraDeSus3 {
    display: none;
  }
  .information {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 1px;
    column-gap: 1px;
    justify-content: space-around;
  }
}
@media (max-width: 920px) {
  .width-img-eco-car {
    width: 100%;
    height: auto;
  }
  .cars {
    grid-template-columns: 49.3% 49.3%;
  }
}
@media (max-width: 865px) {
  .img-car-fin-reservation {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .align-center-log-in {
    max-width: 100%;
    height: auto;
    border: none;
    border-radius: 0px;
  }
  .SuccessfulLogInForDisappear {
    display: none;
  }
  .center-log-in-sign-up {
    position: initial;
  }
}
@media (max-width: 780px) {
  .width-img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 750px) {
  .hire-div-information-home-page {
    grid-template-columns: auto;
    grid-template-rows: 50px 50px 50px 50px 50px;
  }
}
@media (max-width: 668px) {
  .grid-map-cars {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 50px;
  }
}

@media (max-width: 660px) {
  .cars {
    grid-template-columns: 49.1% 49.1%;
  }
}
@media (max-width: 600px) {
  .information {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
  }
  .information1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .margin-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 0px;
  }
  .media {
    justify-content: center;
    max-height: 60px;
  }
}
@media (max-width: 522px) {
  .hire-div-information-home-page {
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px 50px 50px;
  }
  .grid-row {
    grid-template-columns: 49.6% 49.6%;
  }
}
@media (max-width: 470px) {
  .grid-ul-description-password {
    grid-template-columns: auto;
  }
}
@media (max-width: 430px) {
  .cars {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
  }
  .information {
    display: none;
  }
  .information1 {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
  }
}
@media (max-width: 315px) {
  .car-image {
    max-width: 230px;
  }
  .log-out-design {
    position: initial;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .margin-bottom-span-nav-bar {
    margin-bottom: 0px;
  }
  .button-final-reservation-done-hire:hover {
    transition: none;
    width: 170px;
  }
}
